@charset "UTF-8";
body {

    background-color: hsl(165, 81%, 93%);
    color: rgba(0,0,0, 1); 
}

div#interface { /* centralizar o texto na tela */
    width: 900px; /* tamanho da caixa do texto*/
    background-color: #ffffff; 
    margin: 40px auto 0px auto; 
    box-shadow: 0px 0px 10px rgba(0,0,0, .5); /* sombra envolta do texto*/
    padding: 10px;


}


p {
    text-align: justify;
    text-indent: 50px;

/*  Formatação de imagens com legendas (comentário) */
}

header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 40px;
}

header#cabecalho {

    
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px, 1px, 4px, black ;

    /* box shadow, cria sombra.. param = horizontal, vertical, espalhamento, cor */
}


figure.foto-legenda img {
    width: 100%
    height: 100%
}

figure.foto-legenda figcaption {
    opacity: 0; /*some as legendas*/
    position: absolute;
    top: 0px ;
    background-color: rgba(0,0,0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px; /* cria espaço na imagem*/
    box-sizing: border-box ; /*cria borda, dentro da borda*/
    transition: opacity 1s ; /* tempo que surge e desaparece as palavras*/
}

figure.foto-legenda:hover figcaption { /* fispara formatacao especifica quando passar o mouse por cima*/
 opacity: 1;

}

/* Formatação do Menu*/
nav#menu {

    display: block; /* deixar menu exibido em bloco, pois bloco flutua pela tela*/
}

nav#menu ul {
     list-style: none; /* some os marcadores*/
     text-transform: uppercase; /* Faz todas letras ficar maiusculas  */
     position: absolute; /*  Apenas a lista vai flutuar */
     top: -20px; /*move para cima*/
     left: 300px;

}

nav#menu li {
    display: inline-block; /* exibe os itens na mesma linha */
    background-color: #dddddd; /* cor do fundo*/
    padding: 10px; /* espaço na caixa*/
    margin: 2px; /* espaco fora da caixa*/
}


 /* hover = Quando passa o mouse por cima*/
nav#menu li:hover { 
    background-color: #606060;
    transition: background-color 1s; /* tempo para surgir outra cor*/

}

nav#menu h1 {
    display: none; /* esconder o h1*/
}

 
nav#menu a {
    color: #000000; /* cor das letras do menu*/
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}